@import '_vars';
@function rem($screen) {
    $remSize: null;

    @if ($screen == tablet) {
        $remSize: 20px;
    }
    @if ($screen == mobile) {
        $remSize: 10px;
    }
    @if ($screen == between){
        $remSize: 20px;
    }
    @else {
        $remSize: 36px;
    }
    @return #{$remSize};
}


@media (max-width: 1288px){
        #hello, #other-txt{
            font-size: rem(between);
        }
        #background{
            width: 50%;
        }
        #me_door{
            left: 145px;
            top: 228px;
            width: 10%;
            height: 33%;
        }
        #meiswalking{
            top: 237px;
            left: 220px;
            width: 120px;
            height: 210px;
        }
        #me_outdoor{
            top: 247px;
            left: 380px;
            width: 13%;
            height: 45%;
        }
        #other-txt{
            height: 131px;
        }
        #arrow{
            width: 13%;
            height: 28%;
        }
        #about_me{
            p{
                font-size: 19px;
            }
        }
        #about-me_text{
            width: 40%;
            height: 28%;
            p{
                font-size: 19px;
            }
        }
        #title_myworks{
            font-size: 21px;
        }
        #projects, #therealone{
            width: 26%;
            height: 38.7%;
        }
        #therealone{
            background: url(/img/proj.png) center;
        }
        #content a, #nickname>p{
            font-size: 15px;
        }
}
@media (max-width: 1047px){
    #background{
        width: 40%;
    }
    #me_door{
        left: 95px;
        top: 152px;
        width: 10%;
        height: 38%;
    }
    #meiswalking{
        top: 167px;
        left: 153px;
        width: 11%;
        height: 45%;
    }
    #me_outdoor{
        top: 168px;
        left: 250px;
        width: 13%;
        height: 48%;
    }
    #other-txt{
        height: 111px;
    }
    #arrow{
        width: 8%;
        height: 24%;
    }
    #main_introduсtion, #aboutme{
        height: 400px;
    }
    #about-me_text{
        height: 65%;
    }
    #underproj{
        top: 45px;
        left: -35px;
        width: 30%;
        height: 35%;
    }
    #birds{
        top: -60px;
        width: 30%;
        height: 36%;
    }
    #foot .contact, #foot .copyright{
        font-size: 15px;
    }
}
@media(max-width: 997px){
    #birds{
        right: 5px;
        top: 0px;
        width: 20%;
        height: 16%;
    }
}
@media (max-width: 879px){
    #circle-reposit{
        width: 30px;
        height: 30px;
        #i{
            font-size: 15px;
        }
    }
    #content{
        display: none;
    }
    #logo{
        left: -30px;
        top: -40px;
        background: url(../img/70.jpg) center;
        width: 70px;
        height: 70px;
    }
    
    #nickname{
        top: 90px;
      p{
        font-size: 12px;
    }  
    }
    #main_introduсtion, #aboutme{
        height: 350px;
    }
    #background{
        width: 30%;
    }
    #hello, #other-txt{
        font-size: 16px;
    }
    #arrow{
        width: 8%;
        height: 20%;
    }
    #me_door{
        left: 80px;
        top: 159px;
        width: 5%;
        height: 22%;
    }
    #meiswalking{
        top: 163px;
        left: 113px;
        width: 6%;
        height: 30%;
    }
    #me_outdoor{
        top: 161.5px;
        left: 160px;
        width: 7%;
        height: 33%;
    }
    #about_me{
        img{
            width: 20%;
            height: 20%;
        }
        p{
            font-size: 15px;
        }
    }
    #about-me_text{
        p{
            font-size: 15px;
        }
    }
    #birds{
        right: -55px;
        top: -9px;
        width: 35%;
        height: 16%;
    }
    #projects, #therealone{
        width: 200px;
        height: 200px;
    }
    #myworks{
        margin: 0 auto;
        width: 500px;
        height: 873px;
    }
    #therealone{
        background: url(/img/smallerproj.png) center;
    }
    #underproj{
        top: 45px;
        left: -35px;
        width: 50%;
        height: 30%;
    }
}
@media (max-width: 768px){
    #txt{
        width: 334px;
        flex-direction: row;
        align-items: center;
    }
    .adaptive_first, .adaptive_second{
        display: none;
    }
    #adaptive{
        display: flex;
        flex-direction: column;
        width: 280px;
        margin-left: 25px;
    }
    #arrow-back{
        justify-content: flex-end;
    }
    #arrow{
        width: 35px;
    }
    #about_me, #about-me_text{
        p{
            font-size: 15px;
        }
    }
}
@media (max-width: 370px) {
    // #main_introduction{
    //     height: 800px !important;
    // }
    #main_introduсtion{
        height: 800px;
        // display: none;
    }
    #aboutme{
        height: 500px;
        flex-direction: column;
        justify-content: space-between;
    }
    #about_me{
        p{
            font-size: 18px;
        }
        img{
            width: 60%;
            height: 60%;
        }
    }
    #txt{
        width: auto;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: flex-start;
    }
    .adaptive_first, .adaptive_second{
        display: block;
    }
    #adaptive{
        display: none;
    }
    #other-txt{
        height: auto;
        width: auto;
    }
    #arrow-back{
        width: auto;
        justify-content: center;
        margin: 0 auto;
    }
    #background{
        width: 100%;
    }
    #hello, #other-txt{
        font-size: 16px;
    }
    #arrow{
        width: 30%;
        // height: 20%;
    }
    #me_door{
        left: 93px;
        top: 185px;
        width: 16%;
        height: 22%;
    }
    #meiswalking{
        top: 196px;
        left: 139px;
        width: 19%;
        height: 28%;
    }
    #me_outdoor{
        top: 193px;
        left: 200px;
        width: 22%;
        height: 33%;
    }
    #content{
        li{
            a{
                font-size: 12px;
            }
        }
    }
    #myworks{
        margin: 0 auto;
        width: 200px;
        height: 2161px;
    }
    #logo{
        top: -40px;
    }
    #nickname{
        display: none;
        left: -20px;
        top: 17px;
        p{
            color: white;
            font-size: 13px;
        }
    }
    #birds{
        display: none;
    }
    #about-me_text{
        width: 100%;
        height: 50%;
        p{
            // padding: 0px;
            font-size: 12px;
            width: auto;
            height: auto;
        }
    }
    #about_me{
        p{
            font-size: 12px;
        }
    }
    #underproj{
        top: 690px;
        left: -40px;
        width: 250px;
        height: 250px;
    }
    #projects, #therealone{
        margin: 0px;
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
    }
}